*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
.nav-titale{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}

nav ul{
  display: flex;
  align-items: center;
}
nav li{
    margin: 15px;
}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border: 0;
}
.btn-primary a{
    color: aliceblue;
}
.banner{
    margin: 50px 200px;
    display: flex;
    align-items: center;
}

.banner-sub-titale{
    font-weight: 600;
    font-size: 45px;
    text-transform: capitalize;
}

.banner-titaale{
    font-weight: 600;
    font-size: 85px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.baner-discription{
    color: #757575;
    font-size: 15px;
    margin-bottom: 30px;
}

.header{
    background-color: #fff8f3;
    background-image: url(../assests/images/header_bg.png), url(../assests/images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
}
.btn{
    display: flex;
}
.btn-secendary{
    height: 64px;
    border-radius: 5px;
    background-color: solid transparent;
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border: 1px solid #FD6E0A ;
    
}
.btn-secendary a{
    color: #FD6E0A;
}

.fa-solid.fa-phone{
    color: #FD6E0A;
    margin-right: 3px;
}
.fa-solid.fa-download{
    color: white;
    margin-right: 3px;
}


main{
    max-width: 1100px;
    margin: 0 auto;
}

.about-me{
    background-color:#FFF8F3;
    text-align: center;
    margin-top: 150px;
    padding: 60px;
    border-radius: 10px;
    font-size: 15px;
}

.about-titale{
    text-transform: capitalize;
    
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 35px;
    line-height: 48px
    
}

.about-me-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

.about-info{
    display: flex;
   
}

.name{
    margin: 30px;
    padding: 5px;
    font-size: 15px;
}

.about-info-titale{
    color: #757575;
    font-size: 15px;
    text-transform: capitalize;
}

.about-info-sub-titale{
    color: #180505;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
   
}

.what-i-doing{
 margin: 0 auto;

}
.what-i-do{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.what-i-do-description{
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
}
.what-i-do-titale{
    font-weight: 400;
    font-size: 35px;
    line-height: 48px;
    text-transform: capitalize;
}
.total-experiance{
    display: flex;
}
.experience{
    margin: 30px 10px;
    text-align: start;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
    

}

.javascript{
    margin: 15px 25px;
    
    padding: 5px;
}

.experiance-img{
    margin: 10px 25px;
}

.experiance-description{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}
.experiance-titale{
    color: #181818;
    font-weight: 400;
    font-size: 20px;
}
.resume-section{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;

}
.my-eduction{
    display: flex;
    text-align: start;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 15px ;
}
.resume-section-titale{
    margin-bottom: 50px;
   
}

.master{
    
    margin: 15px 15px;
}
.education-titale{
    font-weight: 400;
    font-size: 30px;
    line-height: 40.85px;
    color: #474747;

}
.master-in{
    font-weight: 400;
    font-size: 25px;
    color: #474747;
    margin-bottom: 20px;
}

.jr-fnt-end{
    display: flex;
    display: flex;
    text-align: start;
    border-bottom: 1px solid #D1D1D1;
}
.html-devloper{
    display: flex;
    display: flex;
    text-align: start;
    border-bottom: 1px solid #D1D1D1;
}
.btn-i{
    margin-top: 25px;
}
.education-titale{
    margin: 10px 20px;
}
.Harvard{
    color: #757575;
    font-size: 20px;
    margin-bottom: 15px;
}
.list{
    color: #757575;
    font-size: 16px;
}

























